:root {
  --table-green: #01422c;
  --white: #efefef;

  --g900: #01422c;
  --g800: #065d46;
  --g700: #0d6d53;
  --g600: #117c61;
  --g500: #13896c;
  --g400: #2d9a80;
  --g300: #4eac94;
  --g200: #7fc4b2;
  --g100: #b0dbd0;
  --g50: #dff0ec;

  --y900: #fb7300;
  --y800: #fda000;
  --y700: #feb900;
  --y600: #ffd100;
  --y500: #fde200;
  --y400: #ffe73e;
  --y300: #ffec66;
  --y200: #fff294;
  --y100: #fff7be;
  --y50: #fffce5;
}

body {
  background-color: var(--table-green);
  color: var(--white);
  font-family: "Roboto Mono", monospace;
}

div {
  width: 100px;
  height: 100px;
}

.top-bar-container {
  background-color: var(--g400);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.top-left {
  background-color: var(--g800);
  display: flex;
  justify-content: left;
}
.running-count {
  background-color: var(--g200);
}
.card-count {
  background-color: var(--g600);
}
.top-right {
  background-color: var(--g800);
  display: flex;
  justify-content: right;
}
.reset {
  background-color: var(--white);
}
.start {
  background-color: var(--g100);
}

.main-area-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.cards-container {
  background-color: var(--g800);
  display: flex;
  width: 100%;
  height: 40svw;
  margin-top: 24px;
  justify-content: space-around;
  align-items: center;
  padding-top: 15svh;
  padding-bottom: 15svh;
}
.burned {
  background-color: var(--g600);
  width: 15svw;
  height: 20svw;
}
.current {
  background-color: var(--g400);
  width: 15svw;
  height: auto;
  border: 2px solid var(--y400);
  padding: 12px;
  border-radius: 18px;
}
.shoe {
  background-color: var(--g600);
  width: 15svw;
  height: 20svw;
}

.control-container {
  background-color: var(--g900);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  height: 2rem;
  padding: 1rem 3rem;
  align-items: center;
  height: auto;
  border-radius: 12px;
  background-color: var(--g200);
  border: 2px solid var(--g900);
}
